<div id="header">
    <span class="welcome">Kament</span>
    <div id="login">
        <span class="title">Log in here</span><br />
        <table>
        <tr><td>Username:</td><td>
        <input type="text" name="username" /></td></tr>
        <tr><td>Password:</td><td>
        <input type="password" name="password" /></td></tr>
        <tr><td colspan="2">
        <button type='submit'>Log in</button></td></tr>
        </table>
    </div>
</div>

<!-- Move content below the header -->
<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />