body {
    background-color: #eeeeff;
    color: black;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
    color: #3377dd;
    text-shadow: 1px 1px black;
}

a {
    color: black;
    padding: 3px 5px 9px 5px;
}

h1, h2, h3 a {
    color: #3377dd;
}

a:hover {
    color: #3399ff;
}

div {
    padding: 10px;
    margin: 20px;
}

/* Header */
div#header {
    background-color: #3377dd;
    margin: 0;
    padding-left: 100px;
    border-bottom: 20px solid black;

    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 120px;
}

div#header p {
    position: fixed;
    font-size: 30px;   
    padding: 0;
}

div#header div#login {
    float: right;
    height: 80px;
    margin-top: -10px;
    padding-right: 100px;
}

div#header div#login button {
    width: 100%;
}

span.title {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

span.welcome {
    font-size: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: 20px;
}

div#posts {
    border: 5px solid #202070;
    border-radius: 10px;
    margin-left: 50px;
    padding: 0;
}

div.post {
    border: none;
    background-color: #e0e0ff;
    margin: 0;
}

div.even {
    background-color: #ccccff;
}