<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="stylesheets/kament.css" />
    <script src="jquery-3.3.1.min.js"></script>
    <script type='text/javascript'>
    $(document).ready(function(){
        $.ajax({
            url: '/getPosts',
            type: 'post',
            success: function(res){
                let posts = JSON.parse(res)
                var str = ""

                for (i in posts)
                {
                    str += "<div class='post"
                    if (i%2 != 0) str += " even"
                    
                    str += "'><p class='title'>" + posts[i].title
                    str += "<span class='poster'> by "
                    str += posts[i].username + "</span></p><p>"
                    if (posts[i].islink)
                    {
                        str += '<a href="' + posts[i].content
                        + '" >' + posts[i].content + "</a>"
                    }
                    else
                    {
                        var content = posts[i].content 
                        // Replace newlines with <br>s
                        content = content.replace(
                            new RegExp('\r?\n','g'), '<br />'
                        );
                        str += content
                    }
                    str += "</p><a class='comment'"
                    str += "href='/view_comments?postid=" + posts[i].id
                    str += "'>" + posts[i].commentcount + " Comment"
                    if (posts[i].commentcount != 1) str += "s";
                    str += "</a></div>"
                }
                $('#posts').html(str)
            }
        })
    })
    </script>
    <title>Kament</title>
</head>
<body>
    <% include ../partials/header.ejs %>
    <h1>Most recent posts</h1>
    <div id='posts'></div>
</body>
</html>