<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="stylesheets/kament.css" />
    <script src="jquery-3.3.1.min.js"></script>
    <script type='text/javascript'>
    $(document).ready(function(){
        window.alert(
            <%= query.postid %>
        )
        $.ajax({
            url: '/getComments',
            type: 'post',
            success: function(res){
                let comments = JSON.parse(res)
                var str = ""

                for (i in comments)
                {
                    str += "<div class='comment>"
                    str += "'<h2>" + comments[i].title + "</h2><p>"
                    str += "</p><a class='comment'"
                    str += "href='/view_comments?id=" + posts[i].id
                    str += "'>" + posts[i].commentcount + " Comment"
                    if (posts[i].commentcount != 1) str += "s";
                    str += "</a></div>"
                }
                $('#comments').html(str)
            }
        })
    })
    </script>
    <title>Kament</title>
</head>
<body>
    <% include ../partials/header.ejs %>
    <h1>Comments on the post</h1>
    <div id='comments'></div>
</body>
</html>