<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="stylesheets/kament.css" />
    <script src="jquery-3.3.1.min.js"></script>
    <script type='text/javascript'>
    $(document).ready(function(){
        $.ajax({
            url: '/getComments',
            type: 'post',
            data: {postid: <%= query.postid %>},
            success: function(res){
                let obj = JSON.parse(res)
                let post = obj[0]
                let comments = obj[1]

                var body = post.body 

                if (post.islink){
                    body = "<a href='" + body
                         + "'>" + body + "</a>"
                }else{
                    // Replace newlines with <br>s
                    body = body.replace(
                        new RegExp('\r?\n','g'), '<br />'
                    );
                }
                
                $("#content").html("<h1>" + 
                post.title
                + "<span class='poster'>by "
                + post.username + "</span></h1>" + body)

                var str = ""
                for (i in comments)
                {
                    str += "<div class='comment'><p class='poster'>"
                    str += comments[i].username + ":</p><p class='content'>"
                    str += comments[i].content + "</p></div>"
                }
                $('#comments').html(str)
            }
        })
    })
    </script>
    <title>Kament</title>
</head>
<body>
    <% include ../partials/header.ejs %>
    <div id="content"></div>
    <div id='comments'></div>
    <%if (userID) {%>
        <!-- Present the box to let the user leave a comment -->
        <h2>Leave a comment on this post!</h2>
        <div>
            <form action="/createComment" method="POST">
            <input type="hidden" name="postid" value="<%= query.postid %>" />
            <textarea name="content" rows="10" cols="80" required></textarea> 
            <br /> <button type="submit">Submit</button>
            </form>
        </div>
    <%} else {%>
        <!-- Invite the user to log in -->
        <h2>Log in to leave a comment on this post!</h2>
    <%}%>
</body>
</html>